<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/img/icon.png" type="image/x-icon">
    </head>
    <body>
        
        <div class="main-content">
            {{>header}}
            A web app created using express that fetches songs from genius.com
        </div>
        {{>footer}}
    </body>
</html>